@import "tailwindcss";

:root {
  background-color: #191918;
  color: aliceblue;
}

.button-class {
  background-color: white;
  border-radius: 9999px;
  padding: 8px 24px;
  cursor: pointer;
  color: black;
}

.mail-container {
}
